@model BillingAndInvoiceSystem.Models.User

<h2>Change Password</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-action="ChangePassword" method="post">

    <input type="hidden" name="id" value="@Model.Id" />

    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <br />

    <button type="submit" class="btn btn-success">Update Password</button>

    <a asp-action="StaffList" class="btn btn-secondary">Cancel</a>

</form>