@model BillingAndInvoiceSystem.Models.Product

<h2>Add Product</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div>
        <label>Stock</label>
        <input asp-for="Stock" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>